<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Document</title>
</head>

<body>
    <div class="area">
        <di class="d1">
            <img class="images" src="../public/images/neww.png" alt="">
            
        </di>
        <div class="d2">
            <div class="m_form">
                <div class="text"><h1>Welcome Back !</h1></div>
                <p>Pleas _ Login _ here [PassMan.com]</p>
                <form class="mform" action="/login" method="POST">
                    <div>
                        <input type="email" id="email" class="inpfield" placeholder="Email" name="email" required>
                    </div>
                    <div>
                        <input type="password" id="password" class="inpfield" placeholder="Password" name="password" required>
                    </div>
                    <button class="form-button" type="submit">Login</button>
                </form>
                Or <br>

                <a class="link" href="/singup">Register</a>
            </div>
        </div>
    </div>
</body>

</html>